
body{
  background-color: #cccccc;
  font-family: sans-serif;
}

header{
  display: grid;
  background-color: #120323;
  color: #97bf04;
}

nav{
  background-color: #d9043d;
}

nav ul li{
  list-style-type: none;
  display: inline;
  margin-right: 1.5rem;
}

nav ul li a{
  color: white;
  text-decoration: none;
}

main{
  img{
    width: 100%;
    height: auto;
    border-bottom: 10px solid #97bf04;
  }
}

footer{
  display: grid;
  background-color: #d9043d;
}

@media screen and (min-width: 768px) and (max-width: 999px) {
  header{
    text-align: center;
    padding-top: 0.5rem;
  }

  nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: auto;
    background-color: pink;
  }

  nav ul li{
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}

@media screen and (max-width: 767px){
  header{
    text-align: center;
    padding-top: 0.5rem;
  }

  nav{
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    margin: 0 auto;
    justify-items: center;
  }

  nav ul li{
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid #97bf04;
  }

  main{
    grid-template-columns: 1fr;
    img{
      display: grid;
      width: 100%;
      max-width: 360px;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1000px) {
  
}