*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #cccccc;
  font-family: sans-serif;
}

header{
  padding-top: 1rem;
  background-color: #120323;
  justify-items: center;
  align-items: center;
}

h1{
  padding: 1rem;
  color: #97bf04;
}

nav{
  justify-items: center;
  text-align: center;
  background-color: #d9043d;
  width: 100%;
  padding: 0.5rem;
}

nav ul li a{
  text-decoration: none;
  list-style-type: none;
  color: white;
}

h2{
  text-align: center;
}

figure{
  border: 25px solid white;
  border: 30px solid white;
  background-color: white;
}

figure img{
  max-width: 650px;
  border-bottom: 10px solid #97bf04;
}

footer{
  text-align: center;
  padding: 15px;
  padding: 25px;
  color: #fff;
  background-color: #d9043d;
}

@media screen and (min-width:1000px){

  nav ul li{
    display: inline;
    padding: 3rem;
  }
  
  h2{
    padding-top: 1rem;
  }

  div#gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 3rem;
    margin: 1rem;
  }

  h3{
    padding: 1rem 0 1rem 0;
  }

  figure img{
    width: 100%;
    height: auto;
  }

  figure:last-of-type{
    display: grid;
    grid-column: span 2;
    place-items: center;
  }
}

@media screen and (max-width: 999px){
@media screen and (min-width: 768px) and (max-width: 999px){

  nav ul li{
    display: inline;
    padding: 2rem;
  }

  nav ul li a{
    text-decoration: none;
    list-style-type: none;
  }

  h2{
    padding-top: 2rem;
  }

  div#gallery-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 4rem;
    margin: 2rem;
  }

  h3{
    padding: 1rem 0 1rem 0;
  }

  figure img{
    width: 100%;
    height: auto;
  }

  figcaption{
    font-size: small;
    font-weight: lighter;
  }

  figure:last-of-type{
    display: grid;
    grid-column: span 2;
    place-items: center;
  }
}

@media screen and (max-width: 767px){

  nav{
    background-color: transparent;
  }

  nav ul{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 95%;
    height: auto;
    gap: 1rem;
    padding: 1rem;
  }

  nav ul li{
    padding: 15px;
    background-color: #d9043d;
    border: 2px solid #97bf04;
  }

  h2{
    padding-top: 1rem;
  }

  div#gallery-container{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 2.5rem;
    gap: 1rem;
  }

  h3{
    padding: 1rem 0 1rem 0;
  }

  figure img{
    width: 100%;
    height: auto;
  }

  figcaption{
    font-size: medium;
    font-weight: lighter;
  }
}