
body{
  background-color: #cccccc;
  font-family: sans-serif;
}

header{
  display: grid;
  background-color: #120323;
  color: #97bf04;
}

nav{
  text-align: center;
}

nav ul li{
  list-style-type: none;
}

nav ul li a{
  color: white;
  text-decoration: none;
}

main{
  img{
    width: 100%;
    height: auto;
    background-color: #fff;
    border-bottom: 10px solid #97bf04;
  }
}

figure {
  text-align: left;
  padding: 2rem;
  background-color: #fff;
}

footer{
  display: grid;
  text-align: center;
  padding: 35px;
  color: #fff;
  background-color: #d9043d;
}

@media screen and (min-width: 768px) and (max-width: 999px) {
  header{
    text-align: center;
    padding-top: 0.5rem;
  }

  nav{
    display: flex;
    width: 100%;
    margin: auto;
    background-color: hotpink;
  }

  nav ul li{
    width: 100%;
    aspect-ratio: 1 / 1;
    text-align: center;
  }

  main{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px){
  header{
    width: 100%;
    padding-top: 0.5rem;
    text-align: center;
  }

  nav{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  nav ul{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
  }

  nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 20px;
    margin: 0.5rem;
    padding: 16px;
    border: 2px solid #97bf04;
    background-color: #d9043d;
  }

  main{
    grid-template-columns: 1fr;
    img{
      display: grid;
      width: 100%;
      max-width: 650px;
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1000px) {
  
}